<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{css/main.css}">
    <link rel="stylesheet" th:href="@{css/icon.css}">
    <link rel="stylesheet" th:href="../static/css/input.css">
    <link rel="stylesheet" href="../static/css/combobox.css">
    <link rel="stylesheet" th:href="@{css/house-hold.css}">
    <link th:href="@{'https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css'}"
            rel="stylesheet"
            integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
            crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="js/house-hold.js"></script>
    <title>QLNK</title>
</head>
<body>
    <div class="header">
        <div class="icon icon-dashboard"></div>
        <div class="icon icon-logo"></div>
        <h4>Quản lý hộ khẩu</h4>
    </div>
    <div class="body">
        <div class="navbar">
            <div class="navbar-item">
                <div class="icon icon-user"></div>
                <span class="navbar-text">Trang chủ</span>
            </div>
            <div class="navbar-item navbar-item--active">
                <div class="icon icon-group"></div>
                <span class="navbar-text">Hộ khẩu</span>
            </div>
            <div class="navbar-item">
                <div class="icon icon-chart"></div>
                <span class="navbar-text">Thống kê</span>
            </div>
            <div class="navbar-item">
                <div class="icon icon-report"></div>
                <span class="navbar-text">Phản ánh</span>
            </div>
        </div>
        <div class="content">
            <div class="content-header">
                <div class="content-header-combobox">
                    <div class="icon icon-left"></div>
                    <span>Quản lý hộ khẩu</span>
                </div>
                <div class="content-header-search">
                    <div class="input-wrapper input-has-icon">
                        <div class="icon icon-search"></div>
                        <input 
                            class="input input-search"
                            placeholder="Tìm kiếm theo tên, mã hộ khẩu"
                        />
                    </div>
                </div>
            </div>
            <div class="content-main">
                <div class="content-bottom">
                    <div class="filter-wrapper" >
                        <div class="filter-text">
                            <div>Lọc sổ hộ khẩu điện tử</div>
                            <a class="icon icon-filter"></a>
                        </div>
                        <div class="filter" id="filter">
                            <button type="button" class="btn-close " aria-label="Close" id="close"></button>
                            <div class="combobox-wrapper">
                                <label>Tỉnh/ Thành phố</label>
                                <select class="form-select" aria-label=".form-select-lg example">
                                    <option selected>Hà Nội</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                            </div>
                            <div class="combobox-wrapper">
                                <label>Quận/ Huyện</label>
                                <select class="form-select" aria-label=".form-select-lg example">
                                    <option selected>Bắc Từ Liêm</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                            </div>
                            <div class="combobox-wrapper">
                                <label>Phường/ Xã</label>
                                <select class="form-select" aria-label=".form-select-lg example">
                                    <option selected>Minh Khai</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                            </div>
                            <div class="combobox-wrapper">
                                <label>Tổ/ Xóm</label>
                                <select class="form-select" aria-label=".form-select-lg example">
                                    <option selected>Tổ 7</option>
                                    <option value="1">One</option>
                                    <option value="2">Two</option>
                                    <option value="3">Three</option>
                                  </select>
                            </div>
                            <div class="filter-footer">
                                <hr>
                                <div class="filter-button">
                                    <button class="btn btn-secondary">Áp dụng</button>
                                    <button class="btn btn-primary">Mặc định</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-add">
                        <div class="form-add-text">
                            <a class="icon icon-add"></a>
                            <div>Thêm mới sổ hộ khẩu</div>
                        </div>
                        <div class="form-add-content">
                            <div class="form-add-content-tittle">
                                <button type="button" class="btn-close" aria-label="Close"></button>
                            </div>
                            <form class="form-add-user"
                                  th:action="@{/save_residence_booklet}"
                                  method="post"
                                    th:object="${residence_booklet}"
                            >
                                <div class="form-add-content-row" >
                                    <div class="form-group row">
                                        <label for="residence_booklet_code" class="col-sm-5 col-form-label">Mã sổ hộ khẩu</label>
                                        <div class="col-sm-9">
                                            <input
                                                    type="text"
                                                    class="form-control"
                                                    id="residence_booklet_code"
                                                    name="residence_booklet_code"
                                                    th:field="*{residenceBookletCode}"
                                                    placeholder="Nhập mã sổ hộ khẩu"
                                            >
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="residence_booklet_area" class="col-sm-5 col-form-label">Mã khu vực </label>
                                        <div class="col-sm-9">
                                            <input
                                                    type="text"
                                                    class="form-control"
                                                    id="residence_booklet_area"
                                                    name="residence_booklet_area"
                                                    th:field="*{bookletArea}"
                                                    placeholder="Nhập mã khu vực">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="population_name" class="col-sm-5 col-form-label">Họ tên</label>
                                        <div class="col-sm-9">
                                            <input
                                                    type="text"
                                                    class="form-control"
                                                    id="population_name"
                                                    name="population_name"

                                                    placeholder="Nhập họ tên">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="population_code" class="col-sm-5 col-form-label">CMND/CCCD</label>
                                        <div class="col-sm-9">
                                            <input
                                                    type="text"
                                                    class="form-control"
                                                    id="population_code"
                                                    name="population_code"

                                                    placeholder="CMND/CCCD">
                                        </div>
                                    </div>
                                    
                                </div>
                                <div class="form-add-content-row" >
                                    <div class="form-group row">
                                        <label for="currentAddress" class="col-sm-5 col-form-label">Địa chỉ hiện tại</label>
                                        <div class="col-sm-9">
                                            <input
                                                    type="text"
                                                    class="form-control"
                                                    id="currentAddress"
                                                    name="currentAddress"
                                                    th:field="*{address}"
                                                    placeholder="Địa chỉ hiện tại">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label for="passportCode" class="col-sm-5 col-form-label">Hộ chiếu</label>
                                        <div class="col-sm-9">
                                            <input
                                                    type="text"
                                                    class="form-control"
                                                    id="passportCode"
                                                    th:field="*{passportCode}"
                                                    placeholder="Hộ chiếu">
                                        </div>
                                    </div>
                                    <div class="form-group row" >
                                        <label for="job" class="col-sm-5 col-form-label">Nghề nghiệp</label>
                                        <div class="col-sm-9">
                                            <input
                                                    type="text"
                                                    class="form-control"
                                                    id="job"
                                                    name="job"

                                                    placeholder="Nghề nghiệp">
                                        </div>
                                    </div>
                                    <div class="form-group row" >
                                        <label for="work_Place" class="col-sm-5 col-form-label">Nơi làm việc</label>
                                        <div class="col-sm-9">
                                            <input
                                                    type="text"
                                                    class="form-control"
                                                    id="work_Place"
                                                    name="work_Place"

                                                    placeholder="Nơi làm việc">
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="form-add-user-button">
                                    <button class="btn btn-secondary">Mặc định</button>
                                    <button class="btn btn-primary" type="submit">Xác nhận</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="content-finish">
                    <div class="content-finish-tittle">Danh sách sổ hộ khẩu điện tử</div>
                    <div class="list-card">
                        <div class="list-item">
                            <div class="item">
                                <div class="item-main">
                                    <img src="../static/asset/icon/image-profile.png">
                                    <div class="item-content">
                                        <div>
                                            <h5>Mã sổ hộ khẩu: </h5>
                                            <h5>HK01</h5>
                                        </div>
                                        <div>
                                            <p>Mã khu vực: </p>
                                            <p>NV01</p>
                                        </div>
                                        <div>
                                            <p>Tên chủ hộ: </p>
                                            <p>Vũ Phát Đạt</p>
                                        </div>
                                        <div>
                                            <p>CCCD chủ hộ: </p>
                                            <p>036204003004</p>
                                        </div>
                                        <div>
                                            <small>Last updated 3 mins ago</small></p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="item-function">
                                    <a  class="icon icon-show" data-bs-toggle="modal" data-bs-placement="bottom" data-bs-target="#tach-nhan-khau" title="Xem chi tiết">
                                    </a>
                                    <a  class="icon icon-split" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tách hộ khẩu">
                                    </a> 
                                    <a  class="icon icon-add-user" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Thêm nhân khẩu">
                                    </a>
                                    <a  class="icon icon-move" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Di chuyển hộ khẩu">
                                    </a>                              
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-main">
                                    <img src="asset/icon/image-profile.png">
                                    <div class="item-content">
                                        <div>
                                            <h5>Mã sổ hộ khẩu: </h5>
                                            <h5>HK01</h5>
                                        </div>
                                        <div>
                                            <p>Mã khu vực: </p>
                                            <p>NV01</p>
                                        </div>
                                        <div>
                                            <p>Tên chủ hộ: </p>
                                            <p>Vũ Phát Đạt</p>
                                        </div>
                                        <div>
                                            <p>CCCD chủ hộ: </p>
                                            <p>036204003004</p>
                                        </div>
                                        <div>
                                            <small>Last updated 3 mins ago</small></p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="item-function">
                                    <a  class="icon icon-show" data-bs-toggle="tooltip" data-bs-placement="bottom" th:href="@{/populations}" title="Xem chi tiết">
                                    </a>
                                    <a  class="icon icon-split" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tách hộ khẩu">
                                    </a> 
                                    <a  class="icon icon-add-user" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Thêm nhân khẩu">
                                    </a>
                                    <a  class="icon icon-move" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Di chuyển hộ khẩu">
                                    </a>                                   
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-main">
                                    <img src="asset/icon/image-profile.png">
                                    <div class="item-content">
                                        <div>
                                            <h5>Mã sổ hộ khẩu: </h5>
                                            <h5>HK01</h5>
                                        </div>
                                        <div>
                                            <p>Mã khu vực: </p>
                                            <p>NV01</p>
                                        </div>
                                        <div>
                                            <p>Tên chủ hộ: </p>
                                            <p>Vũ Phát Đạt</p>
                                        </div>
                                        <div>
                                            <p>CCCD chủ hộ: </p>
                                            <p>036204003004</p>
                                        </div>
                                        <div>
                                            <small>Last updated 3 mins ago</small></p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="item-function">
                                    <a  class="icon icon-show" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Xem chi tiết">
                                    </a>
                                    <a  class="icon icon-split" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tách hộ khẩu">
                                    </a> 
                                    <a  class="icon icon-add-user" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Thêm nhân khẩu">
                                    </a>
                                    <a  class="icon icon-move" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Di chuyển hộ khẩu">
                                    </a>                                   
                                </div>
                            </div>
                        </div>
                        <div class="list-item">
                            <div class="item">
                                <div class="item-main">
                                    <img src="asset/icon/image-profile.png">
                                    <div class="item-content">
                                        <div>
                                            <h5>Mã sổ hộ khẩu: </h5>
                                            <h5>HK01</h5>
                                        </div>
                                        <div>
                                            <p>Mã khu vực: </p>
                                            <p>NV01</p>
                                        </div>
                                        <div>
                                            <p>Tên chủ hộ: </p>
                                            <p>Vũ Phát Đạt</p>
                                        </div>
                                        <div>
                                            <p>CCCD chủ hộ: </p>
                                            <p>036204003004</p>
                                        </div>
                                        <div>
                                            <small>Last updated 3 mins ago</small></p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="item-function">
                                    <a  class="icon icon-show" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Xem chi tiết">
                                    </a>
                                    <a  class="icon icon-split" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tách hộ khẩu">
                                    </a> 
                                    <a  class="icon icon-add-user" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Thêm nhân khẩu">
                                    </a>
                                    <a  class="icon icon-move" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Di chuyển hộ khẩu">
                                    </a>                                   
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-main">
                                    <img src="asset/icon/image-profile.png">
                                    <div class="item-content">
                                        <div>
                                            <h5>Mã sổ hộ khẩu: </h5>
                                            <h5>HK01</h5>
                                        </div>
                                        <div>
                                            <p>Mã khu vực: </p>
                                            <p>NV01</p>
                                        </div>
                                        <div>
                                            <p>Tên chủ hộ: </p>
                                            <p>Vũ Phát Đạt</p>
                                        </div>
                                        <div>
                                            <p>CCCD chủ hộ: </p>
                                            <p>036204003004</p>
                                        </div>
                                        <div>
                                            <small>Last updated 3 mins ago</small></p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="item-function">
                                    <a  class="icon icon-show" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Xem chi tiết">
                                    </a>
                                    <a  class="icon icon-split" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tách hộ khẩu">
                                    </a> 
                                    <a  class="icon icon-add-user" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Thêm nhân khẩu">
                                    </a>
                                    <a  class="icon icon-move" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Di chuyển hộ khẩu">
                                    </a>                                   
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-main">
                                    <img src="asset/icon/image-profile.png">
                                    <div class="item-content">
                                        <div>
                                            <h5>Mã sổ hộ khẩu: </h5>
                                            <h5>HK01</h5>
                                        </div>
                                        <div>
                                            <p>Mã khu vực: </p>
                                            <p>NV01</p>
                                        </div>
                                        <div>
                                            <p>Tên chủ hộ: </p>
                                            <p>Vũ Phát Đạt</p>
                                        </div>
                                        <div>
                                            <p>CCCD chủ hộ: </p>
                                            <p>036204003004</p>
                                        </div>
                                        <div>
                                            <small>Last updated 3 mins ago</small></p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="item-function">
                                    <a  class="icon icon-show" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Xem chi tiết">
                                    </a>
                                    <a  class="icon icon-split" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tách hộ khẩu">
                                    </a> 
                                    <a  class="icon icon-add-user" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Thêm nhân khẩu">
                                    </a>
                                    <a  class="icon icon-move" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Di chuyển hộ khẩu">
                                    </a>                                   
                                </div>
                            </div>
                        </div>
                        <div class="list-item">
                            <div class="item">
                                <div class="item-main">
                                    <img src="asset/icon/image-profile.png">
                                    <div class="item-content">
                                        <div>
                                            <h5>Mã sổ hộ khẩu: </h5>
                                            <h5>HK01</h5>
                                        </div>
                                        <div>
                                            <p>Mã khu vực: </p>
                                            <p>NV01</p>
                                        </div>
                                        <div>
                                            <p>Tên chủ hộ: </p>
                                            <p>Vũ Phát Đạt</p>
                                        </div>
                                        <div>
                                            <p>CCCD chủ hộ: </p>
                                            <p>036204003004</p>
                                        </div>
                                        <div>
                                            <small>Last updated 3 mins ago</small></p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="item-function">
                                    <a  class="icon icon-show" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Xem chi tiết">
                                    </a>
                                    <a  class="icon icon-split" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tách hộ khẩu">
                                    </a> 
                                    <a  class="icon icon-add-user" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Thêm nhân khẩu">
                                    </a>
                                    <a  class="icon icon-move" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Di chuyển hộ khẩu">
                                    </a>                                   
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-main">
                                    <img src="asset/icon/image-profile.png">
                                    <div class="item-content">
                                        <div>
                                            <h5>Mã sổ hộ khẩu: </h5>
                                            <h5>HK01</h5>
                                        </div>
                                        <div>
                                            <p>Mã khu vực: </p>
                                            <p>NV01</p>
                                        </div>
                                        <div>
                                            <p>Tên chủ hộ: </p>
                                            <p>Vũ Phát Đạt</p>
                                        </div>
                                        <div>
                                            <p>CCCD chủ hộ: </p>
                                            <p>036204003004</p>
                                        </div>
                                        <div>
                                            <small>Last updated 3 mins ago</small></p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="item-function">
                                    <a  class="icon icon-show" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Xem chi tiết">
                                    </a>
                                    <a  class="icon icon-split" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Tách hộ khẩu">
                                    </a> 
                                    <a  class="icon icon-add-user" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Thêm nhân khẩu">
                                    </a>
                                    <a  class="icon icon-move" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Di chuyển hộ khẩu">
                                    </a>                                  
                                </div>
                            </div>
                            <div class="item">
                                <div class="item-main">
                                    <img src="asset/icon/image-profile.png">
                                    <div class="item-content">
                                        <div>
                                            <h5>Mã sổ hộ khẩu: </h5>
                                            <h5>HK01</h5>
                                        </div>
                                        <div>
                                            <p>Mã khu vực: </p>
                                            <p>NV01</p>
                                        </div>
                                        <div>
                                            <p>Tên chủ hộ: </p>
                                            <p>Vũ Phát Đạt</p>
                                        </div>
                                        <div>
                                            <p>CCCD chủ hộ: </p>
                                            <p>036204003004</p>
                                        </div>
                                        <div>
                                            <small>Last updated 3 mins ago</small></p>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="item-function">
                                    <a  class="icon icon-show" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Xem chi tiết">
                                    </a>
                                    <a  class="icon icon-split" data-bs-toggle="modal" data-bs-placement="bottom" ata-bs-target="#exampleModal" title="Tách hộ khẩu">
                                    </a> 
                                    <a  class="icon icon-add-user" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Thêm nhân khẩu">
                                    </a>
                                    <a  class="icon icon-move" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Di chuyển hộ khẩu">
                                    </a>                                   
                                </div>
                                <div class="modal" id="tach-nhan-khau">
                                    <div class="modal-dialog modal-xl">
                                      <div class="modal-content">
                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                          <h4 class="modal-title">Tách hộ khẩu</h4>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>
                                  
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <ul class="nav nav-tabs">
                                                <li class="nav-item">
                                                  <a class="nav-link active" aria-current="page" href="#">Đã có sổ hộ khẩu</a>
                                                </li>
                                                <li class="nav-item">
                                                  <a class="nav-link" href="#">Chưa có sổ hộ khẩu</a>
                                                </li>
                                            </ul>
                                            <div class="ho-khau">
                                                <div class="so-ho-khau">Sổ hộ khẩu điện tử
                                                    <div class="so-ho-khau-tittle">
                                                        <div>Mã sổ hộ khẩu: </div>
                                                        <div>HK01</div>
                                                    </div>
                                                    <div class="so-ho-khau-tittle">
                                                        <div>Mã khu vực: </div>
                                                        <div>HK01</div>
                                                    </div>
                                                </div>
                                                <div class="member">
                                                    <div class="chu-ho">Chủ hộ
                                                        <div class="chu-ho-infor">
                                                            <img src="asset/icon/image-profile.png">
                                                            <div class="chu-ho-infor-text">
                                                                <div class="infor-text">
                                                                    <div>Họ và tên: </div>
                                                                    <div>Vũ Phát Đạt</div>
                                                                </div>
                                                                <div class="infor-text">
                                                                    <div>CCCD: </div>
                                                                    <div>036304005004</div>
                                                                </div>
                                                                <div class="infor-text">
                                                                    <div>Ngày Sinh: </div>
                                                                <div>19/10/2002</div>
                                                                </div>
                                                                <div class="infor-text">
                                                                    <div>Giới tính: </div>
                                                                    <div>Nam</div>
                                                                </div>
                                                                <div class="infor-text">
                                                                    <div>Ngày tạo sổ: </div>
                                                                    <div>19/10/2019</div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="nhan-khau">Nhân khẩu
                                                        <div class="nhan-khau-infor">
                                                            <img src="asset/icon/image-profile.png">
                                                            <div class="nhan-khau-infor-text">
                                                                <div class="infor-text">
                                                                    <div>Họ và tên: </div>
                                                                    <div>Vũ Phát Đạt</div>
                                                                </div>
                                                                <div class="infor-text">
                                                                    <div>CCCD: </div>
                                                                    <div>036304005004</div>
                                                                </div>
                                                                <div class="infor-text">
                                                                    <div>Ngày Sinh: </div>
                                                                <div>19/10/2002</div>
                                                                </div>
                                                                <div class="infor-text">
                                                                    <div>Giới tính: </div>
                                                                    <div>Nam</div>
                                                                </div>
                                                                <div class="infor-text">
                                                                    <div>Quan hệ với chủ hộ: </div>
                                                                    <div>Vợ</div>
                                                                </div>
                                                            </div>
                                                            <button type="button" class="btn btn-secondary">
                                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                                <label class="form-check-label" for="flexCheckDefault">
                                                                  Chọn để tách
                                                                </label>
                                                            </buttom>
                                                        </div>
                                                        <hr>
                                                        <div class="nhan-khau-infor">
                                                            <img src="asset/icon/image-profile.png">
                                                            <div class="nhan-khau-infor-text">
                                                                <div class="infor-text">
                                                                    <div>Họ và tên: </div>
                                                                    <div>Vũ Phát Đạt</div>
                                                                </div>
                                                                <div class="infor-text">
                                                                    <div>CCCD: </div>
                                                                    <div>036304005004</div>
                                                                </div>
                                                                <div class="infor-text">
                                                                    <div>Ngày Sinh: </div>
                                                                <div>19/10/2002</div>
                                                                </div>
                                                                <div class="infor-text">
                                                                    <div>Giới tính: </div>
                                                                    <div>Nam</div>
                                                                </div>
                                                                <div class="infor-text">
                                                                    <div>Ngày tạo sổ: </div>
                                                                    <div>19/10/2019</div>
                                                                </div>
                                                            </div>
                                                            <button type="button" class="btn btn-secondary">
                                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                                <label class="form-check-label" for="flexCheckDefault">
                                                                  Chọn để tách
                                                                </label>
                                                            </buttom>
                                                        </div>
                                                        <hr>
                                                        <div class="nhan-khau-infor">
                                                            <img src="asset/icon/image-profile.png">
                                                            <div class="nhan-khau-infor-text">
                                                                <div class="infor-text">
                                                                    <div>Họ và tên: </div>
                                                                    <div>Vũ Phát Đạt</div>
                                                                </div>
                                                                <div class="infor-text">
                                                                    <div>CCCD: </div>
                                                                    <div>036304005004</div>
                                                                </div>
                                                                <div class="infor-text">
                                                                    <div>Ngày Sinh: </div>
                                                                <div>19/10/2002</div>
                                                                </div>
                                                                <div class="infor-text">
                                                                    <div>Giới tính: </div>
                                                                    <div>Nam</div>
                                                                </div>
                                                                <div class="infor-text">
                                                                    <div>Quan hệ với chủ hộ: </div>
                                                                    <div>Con</div>
                                                                </div>
                                                            </div>
                                                            <button type="button" class="btn btn-secondary">
                                                                <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
                                                                <label class="form-check-label" for="flexCheckDefault">
                                                                  Chọn để tách
                                                                </label>
                                                            </buttom>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                  
                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#chon-ho-khau">Chọn sổ hộ khẩu</button>
                                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Xác nhận</button>
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Hủy bỏ</button>
                                        </div>
                                      </div>
                                    </div>
                                </div>


                                <!--modal chon ho khau de sat nhap-->
                                <div class="modal" id="chon-ho-khau">
                                    <div class="modal-dialog modal-xl">
                                      <div class="modal-content">
                                        <!-- Modal Header -->
                                        <div class="modal-header">
                                          <h4 class="modal-title">Chọn hộ khẩu để sát nhập</h4>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        </div>
                                  
                                        <!-- Modal body -->
                                        <div class="modal-body">
                                            <div class="content-header-search">
                                                <div class="input-wrapper input-has-icon">
                                                    <div class="icon icon-search"></div>
                                                    <input 
                                                        class="input input-search"
                                                        placeholder="Tìm kiếm theo tên, mã hộ khẩu"
                                                    />
                                                </div>
                                            </div>  
                                        </div>
                                  
                                        <!-- Modal footer -->
                                        <div class="modal-footer">
                                          
                                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Xác nhận</button>
                                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Hủy bỏ</button>
                                        </div>
                                      </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                  <span aria-hidden="true">&laquo;</span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">&raquo;</span>
                            </a>
                            </li>
                        </ul>
                        </nav>
                </div>
            </div>
        </div>
    </div>
    <script>
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="modal"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })
    </script>
</body>
</html>