<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Thông tin nhân khẩu</title>
    <!--<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />-->
    <link th:href="@{'https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css'}" rel="stylesheet">
    <script th:src="@{'https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js'}"></script>
    <link th:href="@{'https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css'}" rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/css/styleSideBar.css}">

    <script>
        function updateImageName() {
            var fileInput = document.getElementById('fileInput');
            var imageNameInput = document.getElementById('imageNameInput');
            var fileName = fileInput.value.split('\\').pop();
            imageNameInput.value = fileName;
        }
    </script>
</head>
<body>
    <div class="header">
        <nav class="navbar navbar-expand-sm bg-white navbar-light">
            <div class="container-fluid">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link active" href="#">
                    <img src="../../../../../BTLNhanKhau/asset/icon/team.png" alt="" style="width: 50px;height: 50px;">
                    <span><b style="font-size: 22px;">Quản lý hộ khẩu</b></span>
                  </a>
                </li>
              </ul>
            </div>
          </nav>
    </div>

    <!--sidebar-->
    <div style="display: flex;">
        <div class="sidebarNK">
            <nav class="navbar bg-white">
                <div class="container-fluid itemSidebarNK">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                        <a href="#">
                            <i class='bx bx-home-alt' style="font-size: 20px;"></i>
                            <span style="font-size: 20px;">Trang chủ</span>
                        </a>
                    </li>
                    <li class="nav-item itemSidebarNK">
                        <a href="#" >
                            <i class='bx bxs-user-detail' style="font-size: 20px;"></i>
                            <span  style="font-size: 20px;">Hộ khẩu</span>
                        </a>
                    </li>
                    <li class="nav-item itemSidebarNK">
                        <a href="#">
                            <i class='bx bx-book-open'  style="font-size: 20px;"></i>
                            <span style="font-size: 20px;">Phản ánh</span>
                        </a>
                    </li>
                    <li class="nav-item itemSidebarNK">
                        <a href="#">
                            <i class='bx bxs-objects-vertical-bottom' style="font-size: 20px;"></i>
                            <span style="font-size: 20px;">Thống kê</span>
                        </a>
                    </li>
                  </ul>
                </div>
              </nav>
        </div>
        
        

        <!--Content nhân khẩu-->
        <div class="bg-light contnetNK">
           <div class="navbar">


                <div class="headerContent">
                    <div class="backNK">
                        <a href="">
                            <i class='bx bx-arrow-back'></i>
                            <span>Thông tin nhân khẩu</span>
                        </a>
                    </div>
                </div>
               <div class="container">
                    <div class="row mt-5">
                    </div>
                        <div class="modal-dialog modal-xl">
                            <form th:action="@{/update-population/{id} (id=${populationUpdate.id})}" method="post" th:object="${populationUpdate}" enctype="multipart/form-data">
                          <div class="modal-content">
                      
                            <!-- Modal Header -->
                            <div class="modal-header">
                              <h4 class="modal-title">Thay đổi thông tin nhân khẩu</h4>
                              <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                            </div>
                      
                            <!-- Modal body -->
                              <div class="modal-body">
                                  <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Họ tên</label>
                                      <div class="col-sm-9">
                                          <input type="text" class="form-control" th:field="*{populationName}"  placeholder="Nhập họ tên">
                                      </div>
                                  </div>
                                  <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Tên gọi khác</label>
                                      <div class="col-sm-9">
                                          <input type="text" class="form-control" th:field="*{populationNickName}" placeholder="Tên gọi khác">
                                      </div>
                                  </div>
                                  <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Ngày sinh</label>
                                      <div class="col-sm-9">
                                          <input type="date" class="form-control" th:field="*{dateOfBirth}" placeholder="Ngày sinh">
                                      </div>
                                  </div>
                                  <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Giới tính</label>
                                      <div class="col-sm-9">
                                          <select class="form-control" th:field="*{gender}">
                                              <option value="Nam">Nam</option>
                                              <option value="Nữ">Nữ</option>
                                              <option value="Khác">Khác</option>
                                          </select>
                                      </div>
                                  </div>
                                  <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Nơi sinh</label>
                                      <div class="col-sm-9">
                                          <input type="text" class="form-control" th:field="*{birthPlace}" placeholder="Nơi sinh">
                                      </div>
                                  </div>
                                  <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Dân tộc</label>
                                      <div class="col-sm-9">
                                          <input type="text" class="form-control" th:field="*{ethnicity}" placeholder="Dân tộc">
                                      </div>
                                  </div>
                                  <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Tôn giáo</label>
                                      <div class="col-sm-9">
                                          <input type="text" class="form-control" th:field="*{religion}" placeholder="Tôn giáo">
                                      </div>
                                  </div>
                                  <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Nghề nghiệp</label>
                                      <div class="col-sm-9">
                                          <input type="text" class="form-control" th:field="*{job}" placeholder="Nghề nghiệp">
                                      </div>
                                  </div>
                                  <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Quan hệ với chủ hộ</label>
                                      <div class="col-sm-9">
                                          <input type="text" class="form-control" th:field="*{relationship}" placeholder="Quan hệ với chủ hộ">
                                      </div>
                                  </div>
                                  <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">CCCD/CMND</label>
                                      <div class="col-sm-9">
                                          <input type="text" class="form-control" th:field="*{populationCode}" placeholder="CCCD/CMND">
                                      </div>
                                  </div>
                                  <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Ngày cấp</label>
                                      <div class="col-sm-9">
                                          <input type="date" class="form-control" th:field="*{dateOfIssue}" placeholder="Ngày cấp">
                                      </div>
                                  </div>
                                  <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Nơi cấp</label>
                                      <div class="col-sm-9">
                                          <input type="text" class="form-control" th:field="*{placeOfIssue}" placeholder="Nơi cấp">
                                      </div>
                                  </div>
                                  <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Nơi làm việc</label>
                                      <div class="col-sm-9">
                                          <input type="text" class="form-control" th:field="*{workPlace}" placeholder="Nơi làm vệc">
                                      </div>
                                  </div>
                                  <div class="form-group row">
                                      <label class="col-sm-3 col-form-label">Ngày vào sổ</label>
                                      <div class="col-sm-9">
                                          <input type="date" class="form-control" th:field="*{createDate}" placeholder="Ngày vào sổ">
                                      </div>
                                  </div>
                              </div>
                      
                            <!-- Modal footer -->
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary" data-bs-dismiss="modal">Xác nhận</button>
                                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Hủy bỏ</button>
                            </div>
                          </div>
                            </form>
                        </div>
                    </div>
               </div>
           </div>
        </div>
    </div>

    <!--<script th:src="@{/js/bootstrap.bundle.min.js}"></script>-->
</body>
</html>