.input {
    background: #ffffff;
    padding: 8px 12px;
    height: 36px;
    min-width: 250px;
    font-size: 14px;
    line-height: 20px;
    border: 1px solid #e0e0e0;
    border-radius: 4px;
    outline: none;
    padding-right: 36px;
}

.input-search {
    width: 400px;
}

.input-wrapper {
    position: relative;
    width: 250px;
}

.input-wrapper label {
    display: block;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #1f1f1f;
    margin-bottom: 8px;
}

.input-has-icon div {
    position: absolute;
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
}

.input-has-icon .input {
    padding-left: 36px;
}